numpy
pandas
scipy
scikit-learn
pillow
opencv-python

torch
torchvision
transformers
accelerate
datasets
sentence-transformers

fastapi
uvicorn
gradio

librosa
soundfile
easyocr
rapidocr
facenet-pytorch

qdrant-client
google-genai
python-dotenv
requests

tiktoken
tokenizers
openai-whisper
moviepy
fer==22.4.0
tensorflow
webcolors==1.11.1
